<section class="hero">
    <div class="container hero__container">
        <div class="hero__title heading-h1">Activity & Updates</div>
        <p class="hero__subtitle text-p-subtitle">
            Our biggest challenge is making sure we're always designing and building products that will help you run your business better.
        </p>
        <div class="hero__tab" id="tab">
            <div class="hero__tab-nav">
                <button type="button" class="hero__tab-btn hero__tab-btn--active" data-target-id="0">View all</button>
                <button type="button" class="hero__tab-btn" data-target-id="1">Design</button>
                <button type="button" class="hero__tab-btn" data-target-id="2">Articles</button>
                <button type="button" class="hero__tab-btn" data-target-id="3">Product</button>
                <button type="button" class="hero__tab-btn" data-target-id="4">Software Development</button>
                <button type="button" class="hero__tab-btn" data-target-id="5">Customer Success</button>
            </div>
        </div>   
    </div>
    <div class="hero__tab-content hero__container--big">
        <div class="hero__tab-pane hero__tab-pane-show " data-id="0">
                <div class="swiper hero__slider">
                    <div class="hero__btn hero__btn--prev">
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                        </svg>
                      </div>
                      <div class="hero__btn hero__btn--next">
                        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                        </svg>
                      </div>
                  <div class="swiper-wrapper hero__wrapper">
                    <div class="swiper-slide hero__slide">
                      <div class="hero__slide-img">
                        <img 
                        loading="lazy"
                        width="515"
                        height="428"
                        src="./assets/images/activity/slider-1.jpg" 
                        alt="Девушка сидит за ноутбуком со стаканом в руке">
                      </div>
                      <div class="hero__slide-address text-p-small">
                        <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                        <address class="hero__slide-address-after">by : Albert Sans</address>
                      </div>
                      <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
                      <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
                    </div>
                    <div class="swiper-slide hero__slide">
                      <div class="hero__slide-img">
                        <img 
                        loading="lazy"
                        width="515"
                        height="428"
                        src="./assets/images/activity/slider-2.jpg" 
                        alt="две девушки сидят за компьютером">
                      </div>
                      <div class="hero__slide-address text-p-small">
                        <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                        <address class="hero__slide-address-after">by : Albert Sans</address>
                      </div>
                      <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
                      <p class="hero__slide-descr hero__slide-descr--big">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
                    </div>
                    <div class="swiper-slide hero__slide">
                      <div class="hero__slide-img">
                        <img 
                        loading="lazy"
                        width="379"
                        height="428"
                        src="./assets/images/activity/slider-3.jpg" 
                        alt="Мужчина и женщина дают краба">
                      </div>
                      <div class="hero__slide-address text-p-small">
                        <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                        <address class="hero__slide-address-after">by : Albert Sans</address>
                      </div>
                      <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
                      <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
                    </div>
                    <div class="swiper-slide hero__slide">
                      <div class="hero__slide-img">
                        <img 
                        loading="lazy"
                        width="515"
                        height="428"
                        src="./assets/images/activity/slider-1.jpg" 
                        alt="Девушка сидит за ноутбуком со стаканом в руке">
                      </div>
                      <div class="hero__slide-address text-p-small">
                        <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                        <address class="hero__slide-address-after">by : Albert Sans</address>
                      </div>
                      <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
                      <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
                    </div>
                  </div>
                  <div class="swiper-scrollbar" id="hero__scrollbar"></div>
                </div>
        </div>
        <div class="hero__tab-pane" data-id="1">
            <div class="swiper hero__slider">
            <div class="hero__btn hero__btn--prev">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
              <div class="hero__btn hero__btn--next">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
          <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-2.jpg" 
                alt="две девушки сидят за компьютером">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
              <p class="hero__slide-descr hero__slide-descr--big">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="379"
                height="428"
                src="./assets/images/activity/slider-3.jpg" 
                alt="Мужчина и женщина дают краба">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
              <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
          </div>
          <div class="swiper-scrollbar" id="hero__scrollbar"></div>
        </div>
    </div>
        <div class="hero__tab-pane" data-id="2">
        <div class="swiper hero__slider">
            <div class="hero__btn hero__btn--prev">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
              <div class="hero__btn hero__btn--next">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
          <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-2.jpg" 
                alt="две девушки сидят за компьютером">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
              <p class="hero__slide-descr hero__slide-descr--big">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="379"
                height="428"
                src="./assets/images/activity/slider-3.jpg" 
                alt="Мужчина и женщина дают краба">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
              <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
          </div>
          <div class="swiper-scrollbar" id="hero__scrollbar"></div>
        </div>
    </div>
        <div class="hero__tab-pane" data-id="3">
        <div class="swiper hero__slider">
            <div class="hero__btn hero__btn--prev">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
              <div class="hero__btn hero__btn--next">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
          <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-2.jpg" 
                alt="две девушки сидят за компьютером">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
              <p class="hero__slide-descr hero__slide-descr--big">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="379"
                height="428"
                src="./assets/images/activity/slider-3.jpg" 
                alt="Мужчина и женщина дают краба">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
              <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
          </div>
          <div class="swiper-scrollbar" id="hero__scrollbar"></div>
        </div>
    </div>
        <div class="hero__tab-pane" data-id="4">
        <div class="swiper hero__slider">
            <div class="hero__btn hero__btn--prev">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
              <div class="hero__btn hero__btn--next">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
          <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-2.jpg" 
                alt="две девушки сидят за компьютером">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
              <p class="hero__slide-descr hero__slide-descr--big">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="379"
                height="428"
                src="./assets/images/activity/slider-3.jpg" 
                alt="Мужчина и женщина дают краба">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
              <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
          </div>
          <div class="swiper-scrollbar" id="hero__scrollbar"></div>
        </div>
    </div>
        <div class="hero__tab-pane" data-id="5">
        <div class="swiper hero__slider">
            <div class="hero__btn hero__btn--prev">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
              <div class="hero__btn hero__btn--next">
                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
                </svg>
              </div>
          <div class="swiper-wrapper hero__wrapper">
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-2.jpg" 
                alt="две девушки сидят за компьютером">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Overview of the Design Principles</h3>
              <p class="hero__slide-descr hero__slide-descr--big">What are Design Principles?… To understand design principles, we first discuss the principles. </p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="379"
                height="428"
                src="./assets/images/activity/slider-3.jpg" 
                alt="Мужчина и женщина дают краба">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Using Grid in website design</h3>
              <p class="hero__slide-descr">Andi: "What's the grid like?" Toni: “Like below…”</p>
            </div>
            <div class="swiper-slide hero__slide">
              <div class="hero__slide-img">
                <img 
                loading="lazy"
                width="515"
                height="428"
                src="./assets/images/activity/slider-1.jpg" 
                alt="Девушка сидит за ноутбуком со стаканом в руке">
              </div>
              <div class="hero__slide-address text-p-small">
                <address class="hero__slide-address-data">Published in Insight Jan 30, 2021</address>
                <address class="hero__slide-address-after">by : Albert Sans</address>
              </div>
              <h3 class="hero__slide-title heading-h5">Practice making User Flow</h3>
              <p class="hero__slide-descr">In this article, we'll cover how to create user flows</p>
            </div>
          </div>
          <div class="swiper-scrollbar" id="hero__scrollbar"></div>
        </div>
    </div>
      </div>
        
        
        
    </div>
</section>