<section class="hero">
    <div class="container">
        <h2 class="hero__title heading-h1">Everything you need to get the attention of your audience</h2>
        <div class="hero__muddle">
            <p class="hero__subtitle text-p-subtitle">
                Our digital agency helps clients develop, implement and maintain successful digital marketing strategies across all channels. Also work with you to build your website and create online businesses that grow.  
            </p>
                <svg class="hero__circle" viewBox="0 0 105 105">
                    <path   id="circle" d="M 0,50 a 50,50 0 1,1 0,1 z" />            
                    <text>
                      <textPath xlink:href="#circle">
                        Get in touch Get in touch Get in touch  
                        <rect x="15.0284" y="46.4426" width="3.85427" height="41.4334" fill="red"/>
                      </textPath>
                    </text>
                    <g>
                        <rect x="15.0284" y="46.4426" width="3.85427" height="41.4334" transform="rotate(-135 15.0284 46.4426)" fill="#161A34"/>
                        <rect x="17.8915" y="17.9634" width="3.85427" height="26.9799" transform="rotate(-90 17.8915 17.9634)" fill="#161A34"/>
                        <rect x="44.8912" y="41.1089" width="3.85427" height="26.9799" transform="rotate(180 44.8912 41.1089)" fill="#161A34"/> 
                    </g>
                  </svg>
        </div>
    </div>
    <div class="hero__container">
      <div class="hero__btn hero__btn--prev">
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
        </svg>
      </div>
      <div class="hero__btn hero__btn--next">
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z" fill="#CED1D8" />
        </svg>
      </div>
      <div class="swiper hero__slider">
        <div class="swiper-wrapper hero__wrapper">
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-img">
              <img 
              loading="lazy"
              width="502"
              height="629"
              src="./assets/images/audience/audinece-hero-slide1.jpg" 
              alt="Мужчина печатает за ноутбуком">
            </div>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-img">
              <img 
              loading="lazy"
              width="502"
              height="370"
              src="./assets/images/audience/audinece-hero-slide2.jpg" 
              alt="Совещание азиатов">
            </div>
            <h5 class="hero__slide-title heading-h5">What we believe in</h5>
            <p class="hero__slide-descr p-text-medium">Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...</p>
            <button class="hero__slide-btn button-form">See Details 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z" fill="white" />
              </svg>
            </button>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-img">
              <img 
              loading="lazy"
              src="./assets/images/audience/audinece-hero-slide3.jpg" 
              alt="Дэвущька за ноутбуком">
            </div>
          </div>
          <div class="swiper-slide hero__slide">
            <div class="hero__slide-img">
              <img 
              loading="lazy"
              width="502"
              height="629"
              src="./assets/images/audience/audinece-hero-slide1.jpg" 
              alt="Мужчина печатает за ноутбуком">
            </div>
          </div>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div >
    <div class="container">
      <div class="hero__tablet-text">
        <h5 class=" heading-h5 hero__slide-title--tablet">What we believe in</h5>
            <p class="p-text-medium hero__slide-descr--tablet">Over the years at Sans, we’ve put a lot of thought into what it is that makes us who we are. The qualities that unite us, that make us such an effective team, and...</p>
            <button class="button-form hero__slide-btn--tablet">See Details 
              <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.26365 0.963555C8.61513 0.612083 9.18497 0.612083 9.53645 0.963555L14.9364 6.36356C15.2879 6.71503 15.2879 7.28488 14.9364 7.63635L9.53645 13.0363C9.18497 13.3878 8.61513 13.3878 8.26365 13.0363C7.91218 12.6849 7.91218 12.115 8.26365 11.7636L12.1273 7.89995L1.70005 7.89995C1.20299 7.89995 0.800049 7.49701 0.800049 6.99995C0.800049 6.5029 1.20299 6.09995 1.70005 6.09995H12.1273L8.26365 2.23635C7.91218 1.88488 7.91218 1.31503 8.26365 0.963555Z" fill="white" />
              </svg>
            </button>
      </div>
    </div>
    </div>
</section> 